@import "../css/base.scss";
$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #fcfff8;
$color: #fffb88;

body{
	overflow: hidden;
}


.zmiti-list-main-ui{
	width: $viewW;
	overflow: hidden;

	z-index: 12;
	@include transform3d();
	.zmiti-floor{
		@include pos(a);
		top: 50%;
		left: 0;
		z-index: 4;
	}
	.zmiti-cloud{

		@include pos(a);
		top: 10vh;
		z-index: 0;
		left: 0;
		opacity:0;
		@include animation(scale1 10s linear infinite);
	}
	.zmiti-cloud1{
		top: 10vh;
		@include animation(scale1 10s 3s linear infinite);	
	}
	.zmiti-cloud2{
		top: 17vh;
		@include animation(scale1 10s 5s linear infinite);	
	}
	.zmiti-cloud3{
		top: 28vh;
		@include animation(scale1 10s 6s linear infinite);	
	}


	.zmiti-timeline{
		@include pos(a);
		width:4rem;
		height: 4rem;
		top: 35%;
		left: 3rem;
		z-index: 3;
		@include animation(scale2 10s  linear infinite);
	}

	.zmiti-timeline1{
		@include pos(a);
		width:9rem;
		height: 9rem;
		top: 20%;
		left: .5rem;
		z-index: 3;
		@include animation(scale2 7s 1s linear infinite);
	}
	.zmiti-timeline2{
		@include pos(a);
		width:2rem;
		height: 2rem;
		top: 42%;
		left: 4rem;
		z-index: 3;
		@include animation(scale2 5s 1s linear infinite);
	}

	.zmiti-img{
		@include pos(a);
		z-index: 4;
		width: 8rem;
		left: 1rem;
		top: 22%;
		
		@include transform(scale(.1));
		//@include animation( img-scale 10s  linear infinite);
		//@include transform(translate3d(0,20px,720px));

	}

	.zmiti-title{
		width: 4rem;
		@include pos(a);
		bottom: 4rem;
		left: 3rem;
		z-index: 20;



		&.title-enter-active, &.title-leave-active {
			@include transition(2s);
		}

		&.title-enter, &.title-leave-to {
			@include transform(scale(3));
			opacity:0;
		}
	}

	.zmiti-entry{
		width: 2rem;
		@include pos(a);
		bottom: 1rem;
		left: 4rem;
		z-index: 30;
		@include animation(scale 1s linear infinite alternate);
	}

	.zmiti-info{
		@include pos(a);
		width: 3rem;
		left: .5rem;
		bottom: .3rem;
		z-index: 10;
	}

	.zmiti-sun{
		@include pos(a);
		z-index: 2;
		width: 5rem;
		top: 1.4rem;
		left: 4rem;
		//@include transform(translate3d(0,0,0));
	}
}


@-webkit-keyframes img-scale{
	50%{
		@include transform(scale(1) translate3d(0,0,0));	
	}
	100%{
		@include transform(translate3d(0,20px,800px));

	}
}


@-webkit-keyframes scale2{
	0%{
	}
	30%{
		opacity:1;
		//@include transform( rotate(120deg));
	}
	100%{
		@include transform( rotate(360deg));
	}
}

@-webkit-keyframes scale1{
	0%{
		opacity:0;
	}
	30%{
		opacity:.7;
	}
	100%{
		@include transform(scale(10));
		opacity:0;
	}
}


.zmiti-team-btn{
	@include pos(a);
	color:#fffae0;
	right: .5rem;
	bottom: .5rem;
	z-index: 12;
	text-decoration: underline;

}

.zmiti-cotyright{
	width: 3rem;
	@include pos(a);
	left: .5rem;
	bottom: .5rem;
	text-align: center;
	color:#fff;
	font-size: .3rem;
	z-index: 12;
	@include transform(scale(.7));
	@include transformOrigin(left bottom);
	img{
		margin: 0 auto .1rem;
		width: 1rem;
		display: block;

	}
}

.zmiti-team-main-ui {
	z-index: 1010;
	background: $bgColor;
	@include displayBox(vertical);
	color: #fffae0;
	opacity: 1;
	z
	@include transform(translate3d(0,0,10px));

	&.team-enter-active, &.team-leave-active {
		@include transition(.5s);
	}

	&.team-enter, &.team-leave-to {
		opacity: 0;
	}

	.zmiti-team-main {
		margin-top: 1rem;

		&>h1 {
			@include displayBox(horizontal);
			width: 9.7rem;
			font-weight: normal;
			font-size: .6rem;
			height: 2rem;

			&>div:nth-of-type(1), &>div:nth-of-type(3) {
				margin-top: 40px;
			}

			&>div:last-of-type {
			}

		}

		&>section {
			&.zmiti-copyright {
				@include pos(r);
				line-height: 1.6rem;

				&:before {
					content: '';
					@include pos(a);
					width: 100%;
					height: 1px;
					background: rgba(0, 0, 0, .2);
					left: 0;
					top: 0;
					display: none;
				}

			}

			font-size: .4rem;
			width: 7rem;
			margin: 0 auto;
			height: 1rem;
			line-height: 1rem;

			span {
				padding: 0 6px;
			}

		}

		.zmiti-back {
			background: #fff;
			color:#e05944;
			width: 2rem;
			height: .7rem;
			line-height: .7rem;
			text-align: center;
			@include br(8px);
			margin: .5rem auto;
			font-size: .4rem;
			box-shadow: 0 4px 4px  rgba(0, 0, 0, .5);
		}

	}

}
 
